/*
 * Ceci est un fichier CSS rédigé par le célèbre Clark Winkelmann
 */

* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	background: white;
	color: #333;
	font-family: 'Roboto', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}

@media (max-height: 450px) {
	body {
		display: block;
	}
}

a {
	color: #888;
}

.content {
	border-left: 1em solid #666;
	padding: 1em;
	max-width: 46em;
}

h1 {
	font-family: 'Oswald', sans-serif;
	color: #666;
	font-size: 5em;
	line-height: 0.3em;
	margin: 0.5em 0;
}

h1 small {
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	color: #aaa;
	font-size: 0.18em;
	line-height: 0;
}

h1 small::before {
	content: '(';
}

h1 small::after {
	content: ')';
}

p {
	font-size: 1.5em;
	line-height: 1.4em;
	margin: 0.5em 0;
}
